:root {
  --main-color: #6667AB;
}
.header {
  position: sticky;
  top:0px;
  width:100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  font-family: Arial;
}
.tmp-header {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0px;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color:transparent;
}
button:active {
  opacity: 80%;
}

.header-logo {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.header-menu {
  text-decoration-line: none;
  font-size: 25px;
  color: #ffffff;
  margin-left: 20px;
}
.btn-primary {
  color: #ffffff;
}
.input-area {
  border: none;
  background-color:aliceblue;
  border-radius: 10px;
  padding-left: 10px;
}
.input-area:focus {
  outline: none; 
  background-color: rgb(200, 213, 228);
}

.header-menu-icon {
  font-size: 40px;
  color:darkslategray;
  position: absolute;
  top: 25px;
  left: 25px;
}

.content {
  display: flex;
  min-height: 150vh;
}

.navigation {
  list-style:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0px;
  border-right: solid 1px black;
  min-height: 80vh;
}
.navigation > li {
  margin-bottom: 10px;
}
.menu-item {
  text-decoration-line: none;
  color: black;
  font-size: 30px;
}

.content-area {
  margin: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}