.tmp-header {
  display: flex;
  height: 100px;
  border-bottom: solid 1px black;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0px;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color:transparent;
}
button:active {
  opacity: 80%;
}

.header-logo {
  font-size: 50px;
  color:darkslategray;
}

.content {
  display: flex;
}

.navigation {
  list-style:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0px;
  border-right: solid 1px black;
  min-height: 80vh;
}
.navigation > li {
  margin-bottom: 10px;
}
.menu-item {
  text-decoration-line: none;
  color: black;
  font-size: 30px;
}

.content-area {
  margin: 30px;
}